# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# Attempt to exclude go's extensionless binary files
_examples/angular
_examples/contest
_examples/gofish
_examples/play
_examples/testapp
_examples/webone
_examples/webtwo
